@use "../../../_variables" as *;

.section {
  width: 100%;
  padding: 4rem 1rem;
  background-color: $color-bg;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 4px;
  overflow: hidden;

  @media (max-width: 900px) {
    height: 350px;
    order: 1; // Bild zuerst auf Mobile (optional)
  }
}

.image {
  object-fit: cover;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (max-width: 900px) {
    order: 2;
  }
}

.eyebrow {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $color-text-accent;
  font-weight: 600;
}

.headline {
  font-size: 2.5rem;
  line-height: 1.2;
  color: $color-text;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: $color-text;
}

.button {
  font-size: 21px;
  padding: 16px 30px;
  font-family:
    Roboto Mono,
    monospace;
  margin: auto;
  border-radius: 7px;
  margin-left: 0;
  margin-top: 1rem;
  background-color: $color-text-accent;
  color: $color-bg;
  border-color: transparent;
  box-shadow: 0px 0px 12px 0px #aeaeae;
  letter-spacing: 1.5px;

  &[data-right="true"] {
    margin-left: auto;
    margin-right: 0;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
  }
  &:active {
    transform: translateY(2px);
    color: color-mix(in srgb, $color-bg, $color-text-accent 10%);
    background-color: color-mix(in srgb, $color-text-accent, $color-bg 5%);
    box-shadow: inset 0 -1px 13px 3px rgba(129, 129, 129, 0.15);
  }
}
