@use '../../../_variables' as *;

.titleImageContainer {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;


  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
}

.backgroundImage {
  object-fit: cover;
  object-position: center;
  z-index: 0;

}

.title {
  position: relative;
  z-index: 2;
  color: $color-bg;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2.5px;
  padding: 5px 40px;
  backdrop-filter: blur(4px);
  border-radius: 2px;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}