$color-primary: #f39c12;
$color-secondary: #2c3e50;
$color-bg: #ffffff;
$color-white: #ffffff;
$color-text: #333333;
$color-light-gray: #f4f4f4;

$font-main: "Inter", sans-serif;

$max-width: 1200px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) { @content; }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) { @content; }
}