@use '../../../_variables' as *;

.icon-container {
  display: flex;
  user-select: none;

  &[data-color='black'] {
    color: $color-black;
  }

  &[data-color='white'] {
    color: $color-white;
  }

  &[data-color='gray'] {
    color: $color-gray;
    z-index: 999;
  }

  &[data-color='lightgray'] {
    color: $color-light-gray;
  }

  &[data-color='green'] {
    color: $color-green;
  }

  &[data-color='red'] {
    color: $color-red;
  }

  &[data-size='extra-small'] {
    font-size: 12px;
  }

  &[data-size='small'] {
    font-size: 16px;
  }

  &[data-size='normal'] {
    font-size: 19px;
  }

  &[data-size='big'] {
    font-size: 32px;
  }

  &[data-size='huge'] {
    font-size: 32px;
  }

  &[data-clickable='true'] {
    cursor: pointer !important;
  }

  &:focus-visible {
    opacity: 0.8;
  }
}

.icons-container {
  display: flex;
  gap: 16px;
}