
@use './_variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'material-icons/iconfont/material-icons.css';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-main;
  color: $color-text;
  background-color: $color-bg;
  line-height: 1.6;
  letter-spacing: 1.08px;
}

p{
  font-family: $font-main;
  letter-spacing: 1.08px;
}

h1{
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}