.footer {
  background-color: #333;
  color: #fff;
  padding: 3rem 0 1rem 0;
  margin-top: 4rem;

  .footerContainer {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .contactContent {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;

    a {
      font-size: 1rem;
    }
  }

  .footerContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 2rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }

  .footerColumn {
    .columnTitle {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: #fff;
    }

    .linkList {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 0.5rem;
        display: flex;
        a {
          color: #ccc;
          text-decoration: none;
          font-size: 1rem;
          letter-spacing: 1.1px;
          transition: color 0.3s ease;

          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .additionalInfo {
    display: flex;
    margin: 0 2rem;
    justify-content: space-around;

    color: #ccc;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 1.1px;
    transition: color 0.3s ease;
  }

  .footerBottom {
    border-top: 1px solid #555;
    padding-top: 1.5rem;
    text-align: center;

    .copyright {
      color: var(--foreground-light);
      font-size: 0.8rem;
      line-height: 1.4;

      a {
        color: #ccc;
        text-decoration: none;

        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 468px) {
    padding: 2rem 0 1rem 0;

    .footerContainer {
      padding: 0 1rem;
    }

    .footerContent {
      gap: 1rem;
    }

    .footerColumn {
      .columnTitle {
        font-size: 1.1rem;
      }

      .linkList li a {
        font-size: 0.85rem;
      }
    }

    .footerBottom {

      .copyright {
        font-size: 0.75rem;
      }
    }
  }
}
