@use '../../../_variables' as *;

.footer {
  background-color: $color-bg-dark;
  color: $color-text-light;
  padding: 3rem 0 1rem 0;
  margin-top: 4rem;

  .footerContainer {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .footerContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 2rem;

    iframe {
      border: 0;
      filter: grayscale(100%) contrast(1.2) brightness(0.9);
      width: 100%;
      height: 250px; // Feste Höhe aus dem zweiten Block übernommen
      margin: 0;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }

  .footerColumn {
    .columnTitle {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: $color-text-light;
    }

    .linkList {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center; // Zentriert Icons und Text vertikal

        // Styling für die Icons (SVG), falls nötig
        svg {
          margin-right: 0.5rem;
        }
      }
    }
  }

  // Spezifische Inhalte
  .contactContent {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;

    a {
      font-size: 1rem;
      color: $color-text-light;
      text-decoration: none;
      letter-spacing: 1.1px;
      transition: color 0.3s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .additionalInfo {
    display: flex;
    margin: 0 2rem 1rem 2rem;
    justify-content: space-around;

    // Styling für die Links innerhalb von additionalInfo
    a {
      color: $color-text-light;
      text-decoration: none;
      font-size: 1rem;
      letter-spacing: 1.1px;
      transition: color 0.3s ease;

      span{
        color: $color-text-light;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footerBottom {
    border-top: 1px solid #555;
    padding-top: 1.5rem;
    text-align: center;

    .copyright {
      color:  $color-text-light;
      font-size: 0.8rem;
      line-height: 1.4;
    }
  }

  // Mobile Anpassungen
  @media (max-width: 468px) {
    padding: 2rem 0 1rem 0;

    .footerContainer {
      padding: 0 1rem;
    }

    .footerContent {
      gap: 1rem;
      margin: 1rem 0; // Margin auf Mobile etwas reduziert
    }

    .footerColumn {
      .columnTitle {
        font-size: 1.1rem;
      }
    }

    .contactContent a {
      font-size: 0.85rem;
    }

    .footerBottom .copyright {
      font-size: 0.75rem;
    }
  }
}