@use '../../../_variables' as *;

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.content {
  max-width: 800px;
  width: 100%;
  color: $color-text;
  line-height: 1.6;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: $color-text;
  }

  h2 {
    font-size: 1.4rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  p {
    margin-bottom: 1rem;
  }

  .address {
    p {
      line-height: 1.8;
    }
  }

  .credits {
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 1px solid $color-light-gray;
    font-size: 0.9rem;
    opacity: 0.8;
  }
}