@import "../../../_variables.scss";

.legalTerms, .privacy { // Klasse je nach Datei anpassen oder beide nutzen
  padding: 4rem 0;
  background-color: $color-white;
  color: $color-text;
}

.title {
  font-family: $font-main;
  font-size: 2rem;
  color: $color-primary;
  margin-bottom: 3rem;
  border-bottom: 2px solid $color-light-gray;
  padding-bottom: 1rem;
}

.section {
  margin-bottom: 2.5rem;

  h2 {
    font-family: $font-main;
    font-size: 1.25rem;
    color: $color-secondary;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.6;
    margin-bottom: 1rem;
    max-width: 800px;
  }

  ul {
    margin-bottom: 1rem;
    padding-left: 1.5rem;

    li {
      margin-bottom: 0.5rem;
      line-height: 1.6;
    }
  }

  a {
    color: $color-primary;
    text-decoration: underline;

    &:hover {
      color: $color-secondary;
    }
  }
}