@use '../../../_variables' as *;

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.content {
  max-width: 800px;
  width: 100%;
  color: $color-text;
  line-height: 1.6;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: $color-text;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $color-light-gray;
    padding-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.1rem;
    margin-top: 1.5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  .intro {
    font-weight: 500;
    font-size: 1.1rem;
  }
}